
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <div style="background-color:azure">



        <table class="table table-bordered">
            <tr>
                <th>Kategori Id</th>
                <th>Kategori Adı</th>
                <th>Kategori Durumu</th>
                <th>Kategori Detaylar</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Sebze Meyve</td>
                <td>Aktif</td>
                <td><button class="btn btn-primary">Detaylar</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>İçecek</td>
                <td>Aktif</td>
                <td><btn class="btn btn-primary">Detaylar</btn></td>
            </tr>
            </tableclass="table>


    </div>
</div>