
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesajı Aç</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Elif Yıldırım</td>
        <td>Deneme</td>
        <td><a href="#" class="btn btn-warning">Mesajı Aç</a></td>
    </tr>

    <tr>
        <td>1</td>
        <td>Elif Yıldırım</td>
        <td>Deneme</td>
        <td><a href="#" class="btn btn-warning">Mesajı Aç</a></td>
    </tr>

    <tr>
        <td>1</td>
        <td>Elif Yıldırım</td>
        <td>Deneme</td>
        <td><a href="#" class="btn btn-warning">Mesajı Aç</a></td>
    </tr>



</table>