
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Yetenek Ekleme Sayfası</h2>

<form method="post">

    <label>Yeni Yetenek Başlığı</label>
    <input type="text" name="SkillName" class="form-control" />
    <label>Yeni Yetenek Değeri</label>
    <input type="number" name="Rate" class="form-control" />
    <button class="btn btn-primary mt-3">Ekle</button>
    

</form>

